* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

.admin a {
    color: #15161D;
    text-decoration: underline;
}

i.fa {
    color: #fff;
}

body {
    height: 100%;
    background-color: #fff;
    /*font-family: "Open Sans", sans serif;
    font-family: sans-serif;*/
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

.header {
    background-color: #2e9dec;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px;
}

.header .logo {
    padding-left: 15px;
}

.wrapper {
    min-height: 87%;
}

hr {
    width: 400px;
}

.footer {
    background-color: #434343;
    color: white;
    display: flex;
    flex-wrap: wrap;
    /* justify-content:; */
    align-items: center;
    position: relative;
    top: 4px;
    bottom: 0px;
    width: 100%;
}

.views-footer {
    padding: 0 50px 50px 50px;
    position: relative;
}

.views-footer img {
    height: 50px;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}


/* Menu */

.header .menu {
    display: flex;
    list-style: none;
}

.header .menu ul li {
    margin: 20px 10px;
}

.header .menu ul a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

.header .menu ul li a:hover {
    background: #fff;
    color: #2e9dec;
    transition: .5s;
    border-radius: 10px;
}

.topmenu>li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.topmenu>li:last-child {
    margin-right: 0;
}

.submenu {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    top: 160%;
    left: 0;
    width: 180%;
    list-style: none;
    border-radius: 10px;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.topmenu .submenu li {
    color: #2e9dec;
}

.submenu li a {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    color: white;
}

.menu .submenu {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: #2e9dec;
}

.menu ul li:hover .submenu {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}


/* /Menu */


/* Phone-Feedback */

.write-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.write-tel {
    font-size: 110%;
    color: #fff;
    padding-right: 15px;
    position: relative;
}

.cart {
    font-size: 110%;
    color: #fff;
    padding-right: 15px;
}


/* /Phone-Feedback */


/* Search */

.search form {
    position: relative;
    width: 300px;
    /*  margin: 0 auto;*/
}

.search-on-suite {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #078be9;
    border-radius: 10px;
    outline: none;
    background: #fff;
    /*color: #9E9C9C;*/
}

.search button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #108ee7;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search button:hover {
    background-color: #078be9;
    cursor: pointer;
}

.search button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}


/* /Search */


/* Adaptive */

@media screen and (max-width: 1358px) {
    .cart {
        margin: auto;
    }
}

@media screen and (max-width: 1358px) {
    .write-cart {
        margin: auto;
    }
}

@media screen and (max-width: 1037px) {
    .header {
        flex-direction: column;
    }
    .header .menu ul li {
        margin: 5px;
    }
}


/* /Adaptive */

.top .logo img {
    width: 70px;
    height: 70px;
}

.content {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    /*        display:flex;
    flex-wrap:wrap;
    justify-content:left;*/
}

.content .title {
    padding-top: 20px;
}

.content h1 {
    padding-top: 20px;
}

.content p {
    padding-top: 20px;
}

.content a {
    font-style: italic;
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-left: 15px;
    /* margin-right: -60px;*/
}

.row-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 40px;
}

.submit-btn {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 800;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    padding: 16px 55px;
    background-color: #2e9dec;
    -webkit-transition: .3s all;
    transition: .3s all;
    margin-top: 20px;
    text-transform: uppercase;
}

.submit-btn:hover {
    background-color: #078be9;
    cursor: pointer;
}

.contacts {
    max-width: 400px;
}

.contacts h4 {
    font-weight: normal;
    font-size: 20px;
}

.contacts-form {
    text-align: center;
}

.contacts-form h4 {
    padding-bottom: 25px;
}

.contacts-form input {
    background-color: transparent;
    border: 1px solid #b3b3b3;
    width: 264px;
    padding: 10px 0 10px 25px;
    outline: none;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.contacts-form textarea {
    background-color: transparent;
    border: 1px solid #b3b3b3;
    width: 264px;
    padding: 10px 0 10px 25px;
    outline: none;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    resize: vertical;
}

.map {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 20px;
}


/* Catalog */

.views-row {
    padding: 0 50px 50px 50px;
    position: relative;
}

.views-row:hover {
    bottom: 5px;
}

.views-row img {
    width: 250px;
    height: 250px;
}

.views-row h3 {
    font-weight: normal;
    /*margin-top:-40px;*/
}


/* /Catalog */


/* Product card */

.product-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product-card .description {
    width: 60%;
    padding-left: 70px;
    padding-top: 50px;
}

.product-item img {
    width: 250px;
    height: 250px;
}

.product-item h3 {
    font-weight: normal;
    /*margin-top:-40px;*/
}


/* /Product card */


/* Contacts */

.feedback-form {
    height: 100%;
    position: relative;
    margin-left: 120px;
}

.feedback-form form {
    position: relative;
    width: 300px;
}

.feedback-form .submit-btn {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 800;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    padding: 16px 55px;
    background-color: #2e9dec;
    -webkit-transition: .3s all;
    transition: .3s all;
    margin-top: 10px;
    text-transform: uppercase;
}

.feedback-form .submit-btn:hover {
    background-color: #078be9;
    cursor: pointer;
}


/* /Contacts */


/* About */

.services {
    width: 100%;
    background-color: #f4f4f4;
    padding: 20px 0 80px 0;
}

.our-services {
    display: flex;
    flex-wrap: wrap;
}

.services-item {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(25% - 30px);
    margin-top: 40px;
    cursor: pointer;
    text-align: center;
}

.aboutform a {
    text-decoration: underline;
    color: black;
}


/* /About */


/*cart*/

.table_price {
    border-collapse: collapse;
    border: none;
    font-family: "Lucida Grande", sans-serif;
}

.table_price caption {
    background: #15161D;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
    color: white;
    font-family: "Roboto Slab", serif;
    font-style: normal;
    font-size: 26px;
    text-align: center;
    margin: 0;
}

.table_price td,
.table_price th {
    padding: 10px;
}

.table_price th {
    text-align: left;
    font-size: 18px;
}

.table_price tr:nth-child(2n) {
    background: #E5E5E5;
}

.table_price td:last-of-type {
    text-align: center;
}

.table_price a {
    display: inline-block;
    padding: 5px 10px;
    background: #F79361;
    box-shadow: 2px 2px 0 0 #a22800;
    position: relative;
}

.table_price a:hover {
    box-shadow: none;
    top: 2px;
    left: 2px;
}

.delete_all {
    padding-top: 25px;
}

.delete_all_btn {
    border: none;
    background-color: rgba(229, 229, 229, 0.08);
    border-radius: 10px;
    padding: 5px;
}

.delete_all_btn:hover {
    background-color: rgba(109, 109, 109, 0.38);
    transition: .5s;
}

.del_btn {
    border: none;
    background-color: rgba(229, 229, 229, 0.08);
    border-radius: 10px;
    padding: 5px;
}

.del_btn:hover {
    background-color: rgba(109, 109, 109, 0.38);
    transition: .5s;
}

.order {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form_order {
    padding-top: 40px;
    margin-left: -30px;
    max-width: 1200px;
}

.form_order input {
    background-color: transparent;
    border: 1px solid #b3b3b3;
    width: 264px;
    padding: 10px 0 10px 25px;
    outline: none;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.form_order .order-btn {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 800;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    padding: 16px 55px;
    background-color: #2e9dec;
    -webkit-transition: .3s all;
    transition: .3s all;
    margin-top: 10px;
    text-transform: uppercase;
}

.form_order .order-btn:hover {
    background-color: #078be9;
    cursor: pointer;
}


/* /cart */


/* Admin forms*/

.form_auth_block {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-size: cover;
    border-radius: 4px;
}

.form_auth_block_content {
    padding-top: 15%;
}

.form_auth_block_head_text {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    background: #ffffff;
    opacity: 0.7;
}

.form_auth_block label {
    display: block;
    text-align: center;
    padding: 10px;
    background: #ffffff;
    opacity: 0.7;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form_auth_block input {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 45px;
    border-radius: 10px;
    border: none;
    outline: none;
}

input:focus {
    color: #000000;
    border-radius: 10px;
    border: 2px solid #436fea;
}

.form_auth_button {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    height: 35px;
    border: none;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: #3f3f44;
    padding-left: 10px;
}

::-moz-placeholder {
    color: #3f3f44;
    padding-left: 10px;
}

:-moz-placeholder {
    color: #3f3f44;
    padding-left: 10px;
}

:-ms-input-placeholder {
    color: #3f3f44;
    padding-left: 10px;
}